<header>
  <nav>
    <%= image_tag 'logo', class: "logo" %>
    <ul>
      <li><%= link_to 'All Issues', issues_path %> </li>
      <%# <li>Open issues</li>
      <li>Closed issues</li> %>
    </ul>
  </nav>
</header>